html {
  background: url(img/rainbowBG.jpg);
}
body {
  background: white;
  text-align: center;
  padding: 25px 0;
  width: 700px;
  margin: 25px auto;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  letter-spacing: 2px;
}
hr {
  width: 500px;
}

.rgb-code {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

input {
  width: 60px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  text-align: center;
}

#redin {
  background: red;
}

#greenin {
  background: green;
}
#bluein {
  background: blue;
}
#display {
  width: 400px;
  height: 200px;
  background: yellow;
  margin: auto;
  border: 3px solid gray;
}
button {
  background: grey;
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  letter-spacing: 2px;
}
#fonts {
  font-family: "New Tegomin", serif;
}
